<<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	 <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Topic Detail Page</title>

        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
                        
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/css/admin.css" rel="stylesheet">

        <link href="static/css/bootstrap-icons.css" rel="stylesheet">

        <link href="static/css/csstemplatemo-topic-listing.css" rel="stylesheet">
</head>
 <body id="top">

       <section class="contact-section section-padding section-bg" id="section_5">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12 text-center">
                            <h2 class="mb-5">Host Login</h2>
                        </div>

                        <form method="POST" action="/info">
                            <div class="contact-form">
                              <form>
                                <div class="form-group">
                                  <label for="name">Name:</label>
                                  <input type="text" id="name" name="name" required>
                                </div>
                                <div class="form-group">
                                  <label for="last_name">Last name:</label>
                                  <input type="text" id="last_name" name="last_name" required>
                                </div>
                                <div class="form-group">
                                  <label for="email">Email:</label>
                                  <input type="email" id="email" name="email" required>
                                </div>
                                <div class="form-group">
                                  <label for="phone">Password:</label>
                                  <input type="password" id="password" name="password" required>
                                </div>
                                <div class="form-group">
                                  <label for="phone">Phone number:</label>
                                  <input type="text" id="phone" name="phone" required>
                                </div>
                                
                                <div class="form-group">
                                  <button type="submit">Login</button>
                                </div>
                              </form>
                            </div>
                                </form>
                    </div>
                </div>
            </section> 


    </body>
</html>
